[user]
	name  = Martijn Pepping
	email = martijn.pepping@automiq.nl

[github]
	user = mpepping

[color]
	diff   = auto
	status = auto
	branch = auto
	interactive = true

[alias]
	hist    = log --graph --date=short
	histone = log --graph --decorate --abbrev-commit --all --pretty=oneline

[core]
	excludesfile = ~/.gitignore_global
